#top_box
  :textile
    Ah democracy at it's finest! All you need is a "faces":http://faces.rubyonrails.com.au account with your IRC Nick and you're good to go.
  
#activity
  
  %img.header{:src => '/images/recent-activity.png', :alt => 'Recent Activity', :width => '300', :height => '35'}/
  
  #live_table
    = render :partial => 'votes'

= render :partial => 'topics'